#appreciation {
    background-color: #f5f5f5;
}

.left-arrow{
    background-color: #E7272D;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    margin-left: 91%;
    margin-top: -15%;
    color: #fff;
    padding: 1px;
    font-size: 10px;
    font-weight: 400;
}

.right-arrow{
    background-color: #E7272D;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    margin-left: 95%;
    margin-top: -15%;
    color: #fff;
    padding: 1px;
    font-size: 10px;
    font-weight: 400;
}

#appreciation h1{
    font-size: 25px;
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: -35px;
    text-align: left;
}

#appreciation .carousel-item .quote{
    color: #E7272D;
    font-size: 25px;
}
#appreciation .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

#appreciation .card{
    width: 333px;
    height: auto;
    max-height: 150px;
    margin: 50px 20px 20px;
}

#appreciation .card-body .card-img-top{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#appreciation .card-body .card-title{
    margin: 10px 20px;
}

#appreciation .card-body  .card-text{
    margin-top: 15px;
}


@media screen and (max-width:770px) {

    #appreciation{
        width: 100%;
    }
    
    #appreciation .carousel-item{
        width: 90%;
        margin: 0;
    }

    #appreciation .card{
        width: 100%;
        margin: 50px 0;
    }

    #appreciation .card-title{
        font-size: 15px;
    }

    .left-arrow{
        background-color: #E7272D;
        position: absolute;
        margin-left: 0%;
        margin-top: 0%;
    }
    
    .right-arrow{
        background-color: #E7272D;
        margin-left: 0%;
        margin-top: 0%;
    }

    #appreciation h1{
        font-size: 20px;
        width: 80%;
        text-align: center;
        margin-left: 3%;
    }
    
}
