.vente{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.vente th{
    font-size: 15px;
    font-weight: normal;
}
.vente td{
    font-size: 13px;
    font-weight: normal;
}
.vente i{
    font-size: 15px;
    cursor: pointer;
}
.vente input{
    border: 1px solid gray;
}
.vente .boutons button{
    padding: 0 5px;
}
.vente .active{
    background-color: #0b960f;
    color: white;
    
}