.vente{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.vente th{
    font-size: 14px;
    font-weight: normal;
}
.vente td{
    font-size: 12px;
    font-weight: normal;
}
.vente i{
    font-size: 15px;
    cursor: pointer;
}
.vente input{
    border: 1px solid gray;
}