.sidbar {
    width: 16.62%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

.sidbar .div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}
.das:hover{
    background-color: #91725d;
    color: black;   
}

    

/* .sidbar a {
    color: #91725d;
    width: 100%;
    font-weight: bold;
} */

/* .sidbar a:hover {
    background-color: #91725d;
     color: black; 
} */

/* .active {
     /* background-color: #91725d;   */
     /* color: black;   */
/* }  */ 
.sidbar a:hover {
    background-color: #91725d; /* Couleur de fond au survol */
    color: black; /* Couleur du texte au survol */
    width: 200px;
  }
  
  /* Style pour les liens actifs */
  .sidbar a.active {
    background-color: transparent; /* Couleur de fond pour le lien actif */
    color: black; /* Couleur du texte pour le lien actif */
  }