* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar {
    background-color: #502314;
    height: 100vh;
    position: fixed;
    width: 16.67%;
}


.Table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1.2em;
    /* text-align: left; */
}

table thead tr {
    background-color: #502314 !important;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.Table th,
.Table td {
    padding: 12px 15px;
}

.Table tbody tr {
    border-bottom: 1px solid #dddddd;
}