*:focus {
    outline: none;
}

#reservation {
    background-color: #f5f5f5;
}

#reservation h1 {
    font-size: 30px;
    text-align: left;
    margin-left: -15px;
    margin-top: 50px;
}

#reservation .reservation-body {
    width: 75%;
    margin: 50px auto;
}


#reservation form {
    background-color: #FFF;
}

#reservation .form-head {
    display: flex;
}

#reservation .form-floating {
    font-size: 13px;
}

#reservation .form-floating label:focus {
    outline: none;
    list-style: none;
    outline-style: none;
    outline-offset: O;
    outline-color: #FFF;
    outline-width: 0cap;
    border: none;
    color: #91725d;
}

#reservation .floatingSelect:focus {
    outline: none;
    list-style: none;
    list-style: none;
    outline-style: none;
    outline-offset: O;
    outline-color: #FFF;
    outline-width: 0cap;
}

#reservation .form-select {
    outline: none;
    border-radius: 0;
    height: 10px;
    margin-bottom: 10px;
}

#reservation .form-select .option-back {
    height: 30px;
    list-style: none;
    outline-style: none;
    outline-offset: O;
    outline-color: #FFF;
    outline-width: 0cap;
}

#reservation .form-select [selected] {
    color: #111111;
    height: 50px;
    background: #91725d !important;
    list-style: none;
    outline-style: none;
    outline-offset: O;
    outline-color: #FFF;
    outline-width: 0cap;
}

#reservation .form-select:focus {
    outline: none;
    border-bottom: 2px solid #91725d;
}

#reservation form select {
    border: none;
    border-bottom: 2px solid gray;
}

#floatingSelect:focus {
    outline: none;
}

#reservation form select:hover {
    border: none;
    border-bottom: 2px solid #000;
}

#reservation form select:focus {
    border: none;
    border-bottom: 2px solid #91725d;
    outline: none;
}

#reservation form input {
    border: none;
    outline: none;
    cursor: not-allowed;
}

#reservation .reservation-select {
    height: 30px;
}


#reservation .option-back:hover {
    background-color: #91725d;
    color: #fff;
}

#reservation select option::selection {
    background-color: #ccc;
}

#reservation select {
    background-color: #FFF;
}

#reservation .form-control {
    height: 30px;
}

#reservation .btnsend {
    width: 95%;
    height: 50px;
    margin: 15px;
    border: none;
    border-radius: 40px;
    background-color: #91725d;
    font-size: 20px;
    font-weight: 600;
}

#reservation .secondaire {
    height: 35px;
    margin: 5px 5px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}

#reservation .secondaire:focus {
    background-color: #91725d;
    border: none;
    color: #fff;
}

@media screen and (max-width: 769px) {
    #reservation .reservation-body h1{
        font-size: 100%;
        text-align: left;
        margin-left: -5%;
        margin-top: 15%;
        font-weight: 600;
    }
    
    #reservation .form-head {
        display: grid;
    }

    #reservation .secondaire {
        height: 35px;
        width: 20%;
        font-size: 70%;
    }
}