*:focus {
    outline: none;
}


#reservationPage .reservationPage-body {
    width: 75%;
    margin: 50px auto;

}

/* .reservationPage-body {
    background-image: url("asset24.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

#reservationPage {
    padding: 70px;
}

#reservationPage form {
    /* background-color: #FFF; */
}

#reservationPage .form-head {
    display: flex;
}

#reservationPage .form-floating {
    font-size: 13px;
}

#reservationPage .form-floating label:focus {
    outline: none;
    list-style: none;
    outline-style: none;
    outline-offset: O;
    outline-color: #FFF;
    outline-width: 0cap;
    border: none;
    color: #91725d;
}

#reservationPage .floatingSelect:focus {
    outline: none;
    list-style: none;
    list-style: none;
    outline-style: none;
    outline-offset: O;
    outline-color: #FFF;
    outline-width: 0cap;
}

#reservationPage .form-select {
    outline: none;
    border-radius: 0;
    height: 10px;
    margin-bottom: 10px;
}

#reservationPage .form-select .option-back {
    height: 30px;
    list-style: none;
    outline-style: none;
    outline-offset: O;
    outline-color: #FFF;
    outline-width: 0cap;
}

#reservationPage .form-select [selected] {
    color: #111111;
    height: 50px;
    background: #91725d !important;
    list-style: none;
    outline-style: none;
    outline-offset: O;
    outline-color: #FFF;
    outline-width: 0cap;
}

#reservationPage .form-select:focus {
    outline: none;
    border-bottom: 2px solid #91725d;
}

#reservationPage form select {
    border: none;
    border-bottom: 2px solid gray;
}

#floatingSelect:focus {
    outline: none;
}

#reservationPage form select:hover {
    border: none;
    border-bottom: 2px solid #000;
}

#reservationPage form select:focus {
    border: none;
    border-bottom: 2px solid #91725d;
    outline: none;
}

#reservationPage form input {
    border: none;
    outline: none;
    cursor: not-allowed;
}

#reservationPage .reservationPage-select {
    height: 30px;
}


#reservation .option-back:hover {
    background-color: #91725d;
    color: #fff;
}

#reservationPage select option::selection {
    background-color: #ccc;
}

#reservationPage select {
    background-color: #FFF;
}

#reservationPage .form-control {
    height: 30px;
}

#reservationPage .btnsend {
    width: 95%;
    height: 50px;
    margin: 15px;
    border: none;
    border-radius: 40px;
    background-color: #91725d;
    font-size: 20px;
    font-weight: 600;
}
#reservationPage .btnsend:hover{
    color: black;
    background-color: #91725d;

}

#reservationPage .secondaire {
    height: 35px;
    margin: 5px 5px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}

#reservation .secondaire:focus {
   background-color: #91725d; 

    border: none;
    color: #fff;
}

@media screen and (max-width: 769px) {
    #reservationPage .reservationPage-body h1 {
        font-size: 100%;
        text-align: left;
        margin-left: -5%;
        margin-top: 15%;
        font-weight: 600;
    }

    #reservationPage .form-head {
        display: grid;
    }

    #reservationPage .secondaire {
        height: 35px;
        width: 20%;
        font-size: 70%;
    }
}