.commende{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.commende th{
    font-size: 15px;
    font-weight: normal;
}
.commende td{
    font-size: 13px;
    font-weight: normal;
}
.commende input{
    border: 1px solid gray;
}
.commende .boutons button{
    padding: 0 5px;
}
.commende .active{
    background-color: #0b960f;
    color: white;
    
}