.title-accordion {
    margin-left: 20px;
}

.accordion-button {
    color: gray;
}

.text {
    font-size: 15px;
}

img,
.div-img {
    width: 100px;
}

.sidebar {
    height: 100vh;
    background-color: #91725d !important;
    color: #fff;
}

.trait {
    background-color: gray;
    width: 100%;
    height: 1px;
}

.avatar {
    color: gray;
}

.bell {
    background-color: #E7272D;
    color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    font-size: 10px;
    left: 10px;
}

.test {
    font-size: 20px;
}

.mail {
    background-color: #E7272D;
    color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    left: 10px;
    font-size: 10px;
}


.avatar {
    width: 50px;
}

.input-search {
    width: 350px;
    background-color: #a9b3c1;

}

.input {
    width: 300px;
    height: 40px;
}

.nav-icon {
    position: relative;
    color: gray !important;
}

.navbar-icon {
    background-color: #E7272D;
    height: 41px;
    width: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 9px;
    position: relative;
    right: 39px;
}

.zoom-container {
 /* Vous pouvez ajuster la taille du conteneur comme vous le souhaitez */
    overflow: hidden; /* Pour s'assurer que l'image ne dépasse pas du conteneur */
}

.zoom-image {
    transition: transform 0.5s ease; /* Durée et type de transition */
}

.zoom-container:hover .zoom-image {
    transform: scale(1.2); /* Échelle de l'effet de zoom */
}
.btn-ajout{
    width: 100px !important;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
}



th {
    background-color: #f2f2f2;
}

.table-hover tbody tr:hover {
    background-color: #ffcccb !important;
    /* Couleur de survol personnalisée */
}