.back {
    background-color: white !important;
    height: 500px;
    width: 500px;
    margin: auto;
   margin-top: 40px;
  
   

}

.input {
    margin: 10px;
    width: 200px;
    height: 65px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    
}
/* #E7272D */

.terms {
    color: rgb(192, 224, 199);
}
.input:hover {
    border-bottom:2px solid #E7272D;

}

.compte {
    height: 50px;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    border: none;
    color: white; 
} 




.backCConnexion {
    background-color: white !important;
    height: 500px;
    width: 500px;
    margin: auto;
   


}
.imggoogle{
    width: 20px;
    height: 20px;
}

.inscript1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20;
}

.oublie {
    color: #E7272D;
    align-items: center;
}

.email {

    width: 350px;
}


.color{
    color: black;
}
.creer {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom: none;
   

}

 .liens {
    color: white;
    background-color: #dfd7d7;
    text-decoration: none;
    border-radius: 30px;
    padding: 4px;
   width: 300px;

} 
.icon-groupe{
  height: 40px;
   border-radius: 20px;
    width: 30%; 
    justify-content: center;
    align-items: center;
    margin: auto;
     gap: 5px;  
   
}
.backpass{
    background-color: white !important;
    height: 400px;
    width: 500px;
    margin: auto;

}
.facebook{
    align-items: center;
    margin: auto;
    gap: 10px;
   
   }
    .avec{
        color: black;
        margin-top: 8px;
    }
    .icon-google{
       width: 50%;
        height: 40px;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 10px;
       

    }
    .lister{
        width: 800px;
    
    }
    

@media screen and (max-width:768px) {
    .inscript {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .back {
        width: 100%;
       height: 900px;

    }

    .input {
        width: 300px;
    }

    .pass {
        margin: 20px;
    }
    .comptes{
        width: 100%;
    }
    .icon-groupe{
        width: 70%;
        font-size: 14px;

    }
    .icon-google{
        width: 70%;
        font-size: 14px;

    }
    .backCConnexion{
        width: 100%;
        /* height: 700px; */
    }
}