.back {
    background-color: white !important;
    height: 500px;
    width: 500px;
    margin: auto;
   margin-top: 40px;
  
   

}
.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10;
}

.nom {
    background-color: transparent; 
    margin: 10px;
    width: 200px;
    height: 65px;
    outline: none;
    /* border: none; */
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    
}
/* #E7272D */

.terms {
    color: rgb(192, 224, 199);
}
.input:hover {
    border-bottom:2px solid #E7272D;

}

.compte {
    height: 50px;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    border: none;
    color: white; 
} 




.backCConnexion {
    background-color: white !important;
    height: 530px;
    width: 500px;
    margin: auto;
   


}
.imggoogle{
    width: 20px;
    height: 20px;
}

.inscript1 {
    
    display: flex;
    flex-direction: column;
    margin-bottom: 20; 
    justify-content: center;
    align-items: center;
    margin: auto;

}

.oublie {
    color: #E7272D;
    align-items: center;
    
}

.email {
    width: 350px; 
   
}
.votre{
    font-size: 12px;
}

.color{
    color: black;
    font-size: 10px;
}
.creer {
    margin: auto;
    display: flex;
    justify-content: center;
     align-items: center;
    
   

}
.connect{
    border: none;
    border-bottom: none;
}

 .liens {
    color: white;
    background-color: #91725d;
    text-decoration: none;
    border-radius: 30px;
    padding: 4px;
   width: 350px;

} 
.liens:hover{
    background-color:#bbaca1;
}
.icon-groupe{
  height: 40px;
   border-radius: 20px;
    width: 30%; 
    justify-content: center;
    align-items: center;
    margin: auto;
     gap: 5px;  
   
}
.backpass{
    background-color: white !important;
    height: 450px;
    width: 400px;
    margin: auto;

}


.facebook{
    align-items: center;
    margin: auto;
    gap: 10px;
   
   }
    .avec{
        color: black;
        margin-top: 8px;
    }
    .icon-google{
       width: 50%;
        height: 40px;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 10px;
       

    }
    .lister{
        width: 800px;
    
    }
    /* modal */
    .modal {
        display: none; 
        position: fixed; 
        z-index: 999; 
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
      }
      
      .modal-content {
        background-color: white;
        margin: 20% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px; 
      }
      
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
      

@media screen and (max-width:768px) {
    .inscript {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .back {
        width: 100%;
       height: 900px;

    }

    .input {
        width: 300px;
    }

    .pass {
        margin: 20px;
    }
    .comptes{
        width: 100%;
    }
    .icon-groupe{
        width: 70%;
        font-size: 14px;

    }
    .icon-google{
        width: 70%;
        font-size: 14px;

    }
    .backCConnexion{
        width: 100%;
        /* height: 700px; */
    }
}
/* #502314 */