.back {
    background-color: white !important;
    height: 600px;
    width: 900px;
    margin: auto;
    border: 5px solid #E7272D;

}

.input {
    width: 300px;
    height: 65px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    
}
/* #E7272D */

.terms {
    color: rgb(192, 224, 199);
}
.input:hover {
    border-bottom:2px solid #E7272D;

}

.compte {
    height: 50px;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    border: none;
    color: white; 
} 




.backCConnexion {
    background-color: white !important;
    height: 595px;
    width: 750px;
    margin: auto;
    border: 7px solid #E7272D;


}

.inscript1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20;
}

.oublie {
    color: #E7272D;
    align-items: center;
}

.email {

    width: 500px;
}


.color{
    color: #E7272D;
}
.creer {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom: none;
   

}

 .liens {
    color: white;
    background-color: #E7272D;
    text-decoration: none;
    border-radius: 30px;
    padding: 4px;
   width: 300px;

} 
.icon-groupe{
    background-color: #f5f5f5;
    height: 40px;
    border-radius: 20px;
    width: 50%; 
    justify-content: center;
    align-items: center;
    margin: auto;
     gap: 5px; 
}
.facebook{
    background-color: white;
    border-radius: 50%;
    }
    .avec{
        color: black;
        margin-top: 8px;
    }
    .icon-google{
        border-radius: 20px;
        width: 50%;
        height: 40px;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 10px;
        border: 1px solid black;
        background-color: #f5f5f5;

    }
    

@media screen and (max-width:768px) {
    .inscript {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .back {
        width: 100%;
        height: 1050px;

    }

    .input {
        width: 300px;
    }

    .pass {
        margin: 20px;
    }
    .comptes{
        width: 100%;
    }
    .icon-groupe{
        width: 70%;
        font-size: 14px;

    }
    .icon-google{
        width: 70%;
        font-size: 14px;

    }
    .backCConnexion{
        width: 100%;
    }
}