.password-container {
  position: relative;
}

.password-container input {
  width: 100%;
  padding-right: 30px; /* Ajoutez de l'espace pour l'icône */
}

.password-container span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
