*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    background-color: #91725d;
    color: white;
}
footer ul li{
    font-size: 14px;
    list-style: none;
    margin: 0;
}
footer a{
    text-decoration: none;
    color: white;
}
footer button{
    background-color: #bbb;
}
footer input{
    border: none;
    outline: none;
}
footer ul li{
    list-style: none;
}
footer a:hover{
    color: #bbb;
}
footer{
    font-family: "Roboto Condensed";
}
footer h5{
    font-family: Georgia, serif;
    flex-wrap: nowrap;
}
.toast-success {
    background-color: rgb(10, 233, 10) ;
    color: white !important;
  }
  
  .toast-error {
    background-color: red;
    color: white !important;
  }
  

@media screen and (max-width:380px){
    footer .deux , footer form{
        display: flex;
        gap: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .deux{
        padding: 10px 0;
    }
    
}