#reservation-table {
  background-color: #f5f5f5;
  text-align: start;
}
.reservation-table-body {
  width: 80%;
  margin: 50px auto;
  background-color: #fff;
}

.text-header{
  margin-bottom: -40px;
  margin-left: 100px;
  margin-top: 50px;
}

#floatingTextarea2 {
  height: 180px;
  border: 1px solid gray;
}

.reservation-table-body form {
  width: 100%;
}
.reservation-table-body .form-floating,
.form-control {
  width: 99%;
  margin: 0 auto;
  background-color: #eeeeee;
  border-radius: 5px;
  border: none;
}
.reservation-table-body .form-floating {
  border: 1px solid gray;
}
.form-x {
  width: 49% !important;
  margin: 0 auto;
}

.reservation-table-body .info {
  margin-top: -15px;
}

.reservation-table-body .reservation-table-body-text {
  margin-left: 5px;
}

.reservation-table-body .select-part .form-z {
  border: none !important;
  border-radius: Opx !important;
  border-bottom: 2px solid gray !important;
}

.reservation-table-body:focus {
  outline: none;
}

.reservation-table-body .btnsend{
  width: 99%;
  height: 50px;
  margin: 10px auto;
  border: none;
  border-radius: 40px;
  background-color: #91725d;
  font-size: 20px;
  font-weight: 600;
}
