#reservation-table{
  background-color: #f5f5f5;
}
.reservation-body{
    width: 80%;
    margin: 50px auto;
    text-align: start;
    background-color: #fff;
}

#floatingTextarea2{
    height: 180px;
}

.reservation-body form{
  width: 100%;
}
.reservation-body .form-floating , .form-control{
  width: 99%;
  margin: 0 auto;
  background-color: #eeeeee;
  border-radius: 10px;
  border: none;
}
.form-x{
  width: 49% !important;
  margin: 0 auto;
}