.politique p , .politique h1{
    text-align: left;
}
.politique p{
    font-size: 15px;
}
.politique ul li{
    font-size: 14px;
    text-align: left;
}
.politique ol li{
    font-size: 15px;
    text-align: left;
}
.politique ul .title{
    font-family: Georgia, serif;
}