.bouton-recherche,
.dropdown-filter {
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.bouton-recherche:hover,
.dropdown-filter:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.trait-horizontal {
    border: none;
    border-top: 1px solid white;
    width: 100%;
    margin: 0;
}