.navmenu a {
    text-decoration: none !important;
    background-color: #91725d !important;
    padding: 5px;
    margin-left: 12px;
    border-radius: 5px;
    margin-top: 5%;
}

.navmenu a.active {
    background-color: #fff !important;
    color: #fff;
}

/* .scale-image{
    width: 27%;
} */