.navbar-custom {
  background-color: #E7272D;
  padding: 0;
  font-weight: bold;
  width: 100%;
}

.navbar {
  font-weight: bold;
  height: 80px;
  margin: 0; 
}

.navbar-nav {
  margin-left: auto;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.drop {
  border-radius: 12px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  margin-top: 4px;
}

.cart-icon {
  margin-left: 10px;
}

.select {
  width: 100px;
  font-weight: bold;
  height: 30px;
  border-radius: 15px;
  font-size: 12px;
}

option {
  height: 70px;
  width: 80px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin: 0;
}

.search-input-container {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  border: none;
  padding: 4px 10px;
  width: 100%;
  max-width: 400px;
  position: relative;
}

.search-icon {
  font-size: 16px;
  margin-right: 10px;
  position: absolute;
  left: 10px;
  cursor: pointer;
  
}

.search-input {
  border: none;
  outline: none;
  font-size: 15px;
  width: 100%;
  padding: 8px 10px 8px 30px; 
  margin: 0; 
}

.hamburger-button {
  display: none; 
}

@media (max-width: 576px) {
.ensemble{
  position: relative;
  left: 30px;
  bottom: 40px;
  font-size: 19px;
  text-decoration: none;color: black;
}

.user{color: black;}
  .search-icon.recherche {
    color: black; 
  }

  .search-bar {
    flex-grow: 5; 
    width: 100%; 
  }

  .hamburger-button {
    display: block; 
  }

}
