/* .navbar {
  position: fixed;
  width: 100%;
} */

.icon-nav {
  color: #91725d;
}
.cart {
  position: relative;
}
a {
  text-decoration: none;
  color: #252525;
}

a.active {
  color: #91725d !important;
  font-weight: bolder;
}

.panier {
  position: relative;
}
.ajout {
  position: absolute;
  bottom: 30px;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  color: #91725d;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  font-weight: bold;
  /* height: 15%; */
  margin: 0;
}

.navbar-nav {
  margin-left: auto;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.drop {
  border-radius: 12px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  margin-top: 4px;
}

.cart-icon {
  margin-left: 10px;
}

.select {
  width: 100px;
  font-weight: bold;
  height: 30px;
  border-radius: 15px;
  font-size: 12px;
}





.hamburger-button {
  display: none;
}

@media (max-width: 576px) {
  .ensemble {
    position: relative;
    left: 30px;
    bottom: 40px;
    font-size: 19px;
    text-decoration: none;
    color: black;
  }

  .panierk {
    font-size: 19px;
    text-decoration: none;
    color: black;
  }

  .user {
    color: black;
  }

  .search-icon.recherche {
    color: black;
  }

  .search-bar {
    flex-grow: 5;
    width: 100%;
  }

  .hamburger-button {
    display: block;
    background-color: white;
    color: #91725d;
    position: relative;
    bottom: 60px;
  }

  .logonav {
    width: 50px;
    position: relative;
    bottom: 60px;
  }

}