
.card-container {
  margin: 5px;
  height: 270px; 
}

.card-spacing {
  flex: 1 1 calc(30.333% - 15px); 
  box-sizing: border-box;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; 
  justify-content: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}
.section1-container {
  position: relative;
  width: 100%;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-track {
  display: flex;
  flex-direction: column;
  animation: scroll 12s linear infinite;
}
.slider-track:hover{
animation-play-state:paused !important;
}
.slider-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.contact-whatsapp {
  display: flex;
  justify-content: center;

}

.contact-button {
  background-color: #91725d;
  color: #fff;
  border: 2px solid #91725d;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 16px;

  cursor: pointer;
}

.contact-button:hover {
  background-color: #fff;
  color: #91725d;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.card {
  flex: 0 0 auto;
  margin: 10px;
}

.icons-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 0 5px;
}

.icon:hover {
  color: #91725d;
}


  @media only screen and (max-width: 600px) {
    .header-container {
      flex-direction: column;
      align-items: center;
    }
  }
  


  

  /* Section1.css */
.card-container {
  width: 100%;
  max-width: 220px;
}

.product-image {
  width: 100%;
  max-width: 140px;
}

.card-title, .card-text {
  font-size: 1rem;
}

.card-button {
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .product-image {
    max-width: 30px;
  }

  .card-title, .card-text {
    font-size: 10px;
  }

  .card-button {
    font-size: 6px
  }
}

/*@media (max-width: 576px) {
  .product-image {
    max-width: 80px;
  }

  .card-title, .card-text {
    font-size: 0.8rem;
  }

  .card-button {
    font-size: 0.6rem;
  }
} */
