.section2-container {
  background-color: #91725d;
  color: white;
  padding: 20px;
  opacity: 0.7;
}

.category-list {
  list-style-type: none;
  padding: 0;
}

.category-list li {
  margin-bottom: 10px;
}
.product-list {
  list-style-type: none;
  padding: 0;
}

.product-list li {
  margin: 10px 0;
  text-align: center;
}
@media (max-width: 768px) {
  .section2-container {
    background-color: #E7272D;
    color: white;
    padding: 20px;
    position: relative;
    left: 30px;
  }
}
