/*.card-spacing {
    margin-right: 20px; 
  }
  
  .card-spacing:last-child {
    margin-right: 0;
  }
  */
  /* Section1.css */
.card-container {
  margin: 5px; 
}

.card-spacing {
  flex: 1 1 calc(30.333% - 15px); 
  box-sizing: border-box;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; 
  justify-content: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; 
}

  @media only screen and (max-width: 600px) {
    .header-container {
      flex-direction: column;
      align-items: center;
    }
  }
  


  

  /* Section1.css */
.card-container {
  width: 100%;
  max-width: 220px;
}

.product-image {
  width: 100%;
  max-width: 140px;
}

.card-title, .card-text {
  font-size: 1rem;
}

.card-button {
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .product-image {
    max-width: 30px;
  }

  .card-title, .card-text {
    font-size: 10px;
  }

  .card-button {
    font-size: 6px
  }
}

/*@media (max-width: 576px) {
  .product-image {
    max-width: 80px;
  }

  .card-title, .card-text {
    font-size: 0.8rem;
  }

  .card-button {
    font-size: 0.6rem;
  }
} */
