*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mycard{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.mycard div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myrow div{
    border-radius: 20px 20px 20px 20px;
}
.myrow div img{
    border-radius: 20px 20px 0px 0px;
}
.mycard img{
    width: 100%;
    height: 210px;
}
.starIcons i{
    color: red;
}
 @media screen and (max-width:300px){
    .myrow{
        display: flex;
        flex-direction: column;
    }
    .myrow .mycol{
        width: 100%;
    }
 }