*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
    font-size: 12px;
    cursor: pointer;
}
h6{
    font-size: 14px;
}
i{
    margin: 0 5px;
    cursor: pointer;
    color: #ffcc00;
}
p{
    font-size: 12px;
    cursor: pointer;
}
h2,h1{
    cursor: pointer;
}
@media screen and (max-width: 776px) {
    .cen{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
